USE [master]
GO
/****** Object:  Database [Community]    Script Date: 28.5.2017 г. 17:10:13 ******/
CREATE DATABASE [Community]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Community', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Community.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Community_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Community_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Community].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Community]
GO
USE [Community]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 28.5.2017 г. 17:10:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Address] [varchar](50) NULL,
	[TownId] [int] NULL,
 CONSTRAINT [PK__Addresse__3214EC076D36608C] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Continents]    Script Date: 28.5.2017 г. 17:10:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Continents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 28.5.2017 г. 17:10:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](15) NULL,
	[ContinentId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persons]    Script Date: 28.5.2017 г. 17:10:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[MiddleName] [varchar](50) NULL,
	[LastName] [varchar](50) NOT NULL,
	[AddressId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SampleData]    Script Date: 28.5.2017 г. 17:10:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SampleData](
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[CompanyName] [nvarchar](50) NULL,
	[Address] [nvarchar](100) NULL,
	[Town] [nvarchar](50) NULL,
	[Country] [nvarchar](50) NULL,
	[State] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Mobile] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Web] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Towns]    Script Date: 28.5.2017 г. 17:10:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Towns](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](15) NULL,
	[CountryId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Addresses] ON 

INSERT [dbo].[Addresses] ([Id], [Address], [TownId]) VALUES (1, N'6649 N Blue Gum St', 5)
INSERT [dbo].[Addresses] ([Id], [Address], [TownId]) VALUES (2, N'4 B Blue Ridge Blvd', 10)
INSERT [dbo].[Addresses] ([Id], [Address], [TownId]) VALUES (3, N'8 W Cerritos Ave #54', 9)
SET IDENTITY_INSERT [dbo].[Addresses] OFF
SET IDENTITY_INSERT [dbo].[Continents] ON 

INSERT [dbo].[Continents] ([Id], [Name]) VALUES (3, N'Africa')
INSERT [dbo].[Continents] ([Id], [Name]) VALUES (2, N'Asia')
INSERT [dbo].[Continents] ([Id], [Name]) VALUES (6, N'Australia')
SET IDENTITY_INSERT [dbo].[Continents] OFF
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([Id], [Name], [ContinentId]) VALUES (1, N'Bulgaria', 1)
INSERT [dbo].[Countries] ([Id], [Name], [ContinentId]) VALUES (2, N'France', 1)
INSERT [dbo].[Countries] ([Id], [Name], [ContinentId]) VALUES (3, N'Germany', 1)
SET IDENTITY_INSERT [dbo].[Countries] OFF
SET IDENTITY_INSERT [dbo].[Persons] ON 

INSERT [dbo].[Persons] ([Id], [FirstName], [MiddleName], [LastName], [AddressId]) VALUES (1, N'James', N'LA', N'Butt', 39)
INSERT [dbo].[Persons] ([Id], [FirstName], [MiddleName], [LastName], [AddressId]) VALUES (2, N'Josephine', N'MI', N'Darakjy', 45)
INSERT [dbo].[Persons] ([Id], [FirstName], [MiddleName], [LastName], [AddressId]) VALUES (3, N'Art', N'NJ', N'Venere', 23)
SET IDENTITY_INSERT [dbo].[Persons] OFF
INSERT [dbo].[SampleData] ([FirstName], [LastName], [CompanyName], [Address], [Town], [Country], [State], [Phone], [Mobile], [Email], [Web]) VALUES (N'James', N'Butt', N'Benton, John B Jr', N'6649 N Blue Gum St', N'New Orleans', N'Orleans', N'LA', N'504-621-8927', N'504-845-1427', N'jbutt@gmail.com', N'http://www.bentonjohnbjr.com')
INSERT [dbo].[SampleData] ([FirstName], [LastName], [CompanyName], [Address], [Town], [Country], [State], [Phone], [Mobile], [Email], [Web]) VALUES (N'Josephine', N'Darakjy', N'Chanay, Jeffrey A Esq', N'4 B Blue Ridge Blvd', N'Brighton', N'Livingston', N'MI', N'810-292-9388', N'810-374-9840', N'josephine_darakjy@darakjy.org', N'http://www.chanayjeffreyaesq.com')
INSERT [dbo].[SampleData] ([FirstName], [LastName], [CompanyName], [Address], [Town], [Country], [State], [Phone], [Mobile], [Email], [Web]) VALUES (N'Art', N'Venere', N'Chemel, James L Cpa', N'8 W Cerritos Ave #54', N'Bridgeport', N'Gloucester', N'NJ', N'856-636-8749', N'856-264-4130', N'art@venere.org', N'http://www.chemeljameslcpa.com')
GO
SET IDENTITY_INSERT [dbo].[Towns] ON 

INSERT [dbo].[Towns] ([Id], [Name], [CountryId]) VALUES (1, N'Sofia', 1)
INSERT [dbo].[Towns] ([Id], [Name], [CountryId]) VALUES (2, N'Plovdiv', 1)
INSERT [dbo].[Towns] ([Id], [Name], [CountryId]) VALUES (3, N'Burgas', 1)
SET IDENTITY_INSERT [dbo].[Towns] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Addresse__737584F68FFFAE6B]    Script Date: 28.5.2017 г. 17:10:13 ******/
ALTER TABLE [dbo].[Addresses] ADD  CONSTRAINT [UQ__Addresse__737584F68FFFAE6B] UNIQUE NONCLUSTERED 
(
	[Address] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Continen__737584F6AD72C5EB]    Script Date: 28.5.2017 г. 17:10:13 ******/
ALTER TABLE [dbo].[Continents] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Countrie__737584F69B226A40]    Script Date: 28.5.2017 г. 17:10:13 ******/
ALTER TABLE [dbo].[Countries] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Towns__737584F62D4F75C9]    Script Date: 28.5.2017 г. 17:10:13 ******/
ALTER TABLE [dbo].[Towns] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK__Addresses__TownI__2F10007B] FOREIGN KEY([TownId])
REFERENCES [dbo].[Towns] ([Id])
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK__Addresses__TownI__2F10007B]
GO
ALTER TABLE [dbo].[Countries]  WITH CHECK ADD FOREIGN KEY([ContinentId])
REFERENCES [dbo].[Continents] ([Id])
GO
ALTER TABLE [dbo].[Persons]  WITH CHECK ADD  CONSTRAINT [FK__Persons__Address__31EC6D26] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Addresses] ([Id])
GO
ALTER TABLE [dbo].[Persons] CHECK CONSTRAINT [FK__Persons__Address__31EC6D26]
GO
ALTER TABLE [dbo].[Towns]  WITH CHECK ADD FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([Id])
GO
USE [master]
GO
