<h1>Login/Register Form</h1>

    <input type="text" placeholder="Username" class="form-control" id="tb-user"/>
    <input type="text" placeholder="Password" class="form-control" id="tb-pass"/>

    <button id="btn-login" class="btn btn-default col-sm-2">Login</button>
    <button id="btn-register" class="btn btn-default col-sm-2">Register</button>

