.main {
    .nav {
        background-color: black;
    }

    .ul {
        list-style-type: none;

        li {
            display: inline-block;
            border-right: 1px solid black;

            &:last-of-type {
                border-right: none;
            }
        }
    }
}